@model Factory.Models.Machine

<h3>Confirm Device Deletion</h3>

<p>Do you really want to remove this piece of equipment?</p>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  <button type="submit" class="btn btn-danger">Yes, Delete Device</button>
}
