@using Factory.Models;

<h2>Machine Inventory</h2>

@if (@Model.Count == 0)
{
  <p>We don't have any machines in our inventory yet. Let's fix that!</p>
}

<ul>
  @foreach (Machine machine in Model)
  {
    <li>@Html.ActionLink($"{machine.Title}", "Details", new { id = machine.MachineId })</li>
  }
</ul>

<p>@Html.ActionLink("Acquire a New Machine", "Create")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>
